@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Source+Serif+Pro|Space+Mono');

body {
    background-color: #F0F0F1;
    font-size: 1em;
    line-height: 1.4em;
}

h1, h2 {
    font-family: 'Archivo Narrow', sans-serif;
    color: #FF5142;
    padding-left: 15px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #292C45, rgba(0, 0, 0, 0));
}

h3 {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-weight: 200;
    color: #292C45;
    padding-left: 15px;
    margin: 2em auto 0;
    line-height: 1.5em;
}

h4 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #292C45;
    font-size: .75em;
    padding-left: 15px;
}

p {
    font-family: 'Source Serif Pro', serif;
    color: #292C45;
    margin: 0em auto 0em;
    padding: 15px;
}

a {
    color: #4C7DE4;
    text-decoration: none;
}

.main {
    max-width: 1024px;
    margin: 0 auto;
}

a:visited {
    color: #20719F;
}

img.logo {
    display: block;
    margin: auto;
}

.intro {
    margin: 1em 5em 0;
}

.category {
    margin: 0 5em;
}

.listing {
    max-width: 900px;
    margin: 0 5em 3em;
    line-height: 1.2em;
}

.listing:last-child {
    margin: 0 5em 0;
}